[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylama = "*"
flake8 = "*"
black = "*"
pylava = "*"

[packages]
gitpython = "*"
click = "*"
jinja2 = "*"
huepy = "*"

[requires]
python_version = "3.6"
